.picture{
    image-rendering: crisp-edges;
}

.picture-with-info{
    display: flex;
    align-items: center;
    
    width: 1000px;
    border-style: groove;
    margin-top: 30px;
    background-image: linear-gradient(rgb(119, 205, 255),rgb(139, 139, 139));
}

.food-with-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background-image: linear-gradient(rgb(119, 205, 255),rgb(235, 235, 235));
}


.picture-graph{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.food-caption {
    font-size: 12px;
    display: flex;
}

.caption {
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.summary-info{
    display: flex;

}
.favorite-playlist{
    margin-top: 50px;
    display: flex;
    border-style: dashed;
    width: 710px;
    flex-direction: column;
}

@media only screen and (max-width: 1200px){
    .picture-with-info{
        width:700px;
    }
    
    .ingredients{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px){
    .picture-with-info{
        width:550px;
    }
    
    .ingredients{
        grid-template-columns: 1fr;
    }

    .picture-graph{
        grid-template-columns: 1fr;
    }

    
}

.ingredient-title{
    margin-left: 5px;
}

.ingredients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: groove;
    border-color: rgb(155, 155, 155);
}

.recipe-part{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.method{
    display:flex;
    border-style: ridge;
    border-width: 2px;
}

.self-info-body{
    display:flex;
    border-style: ridge;
    flex-direction: column;
    align-items: center;
}

.self-info-header{
    font-size: 30px;
    font-weight: bolder;
}

.self-info{
    display:flex;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: groove;
}

.footer{
    margin-top: 10px;
    bottom: 0;
}



