.header{
    display: flex;  
    flex-direction: row;
    height: 55px;
    justify-content: space-between;

    top:0;
    left: 0;
    right:0;
    z-index: 100;
    position:fixed;
    background-color: rgb(119, 205, 255);
    align-items: center;
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color: black;
}


.left-section{
    display: flex;
    align-items: center;
}

.different-page{
    margin-left: 20px;
    font-size: 18px;
}

.middle-section{
    display: flex;
    align-items: center;
}


.image-discord{
    height: 35px;
    width: 32px;
    margin-left: 20px;
}


.image-icon-storage{
    display:flex;
    align-items: center
}
.image-icon{
    height: 35px;
    width: 35px;
    margin-left: 20px;
    border-radius: 17px;
}

.image-discord:hover, .image-icon:hover{
    opacity: 50%;
    cursor: pointer;
}


.right-section{
    display: flex;
    align-items: center;
    width: 200px;
}